.navbar {
    background-color: rgb(187, 227, 199);
    border: 1px solid black;
}
#nav1 .navbar-brand {
    font-size: 2em;
    color: black;
}
#collapsable-nav {
    background-color: white;
    text-align: center;
}

#nav-list li{
    border: 1px solid black;
    margin-bottom: 0;
    padding-bottom: 0;

}

#main-content h1{
    margin-top: 10px;
    margin-bottom: 30px;
}

#main-section {
    background-color: rgb(187, 227, 199);
    
}

@media (max-width: 767px){
    .container {
margin: 0 30px 0 30px;    }
}